.nocolor {
    background-color:white;
}
body {
    font-family: Georgia, Cambria,"Times New Roman", serif;
    font-size:100%;
    background-color:red;
    font-size: 18px !important;
  padding-right: 0 !important;
}
.headerfont{
  color: lightskyblue;
  font-size: 50px;
}
.own-footer {
  color:white;
  background-color: #81a5a1;
margin-top: 10px;

  padding: 10px 10px;
  font-family: Arial;
}
.own-header{
    background-color: #81a5a1;
    color: black;
}

.link-color{
  color: white;
}
.own-img{
  max-width: 60%;

  height: 30%;
}
.videocontent {
  position:absolute;
   z-index:9999999999;
font-style: italic;
  color: #f1f1f1;
  width: 100%;
  padding: 200px;
}
video {
  width: 100%;
  height: 70%;
}
/* modal */
.example-modal .modal {
  position: relative;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  display: block;
  z-index: 1;
}

.example-modal .modal {
  background: transparent !important;
}
.burger {
background-color: #3c8dbc !important;
}
.hiding{
  visibility:hidden ;
}

/*Derek*/
#row1, #row2, #row3, #subrow1, #subrow2, #subrow3{
    text-align: center;
    vertical-align: middle;
}

/*-----------Background Video-------------*/

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  top: 50%;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
.top-reviews-home{
  top:40% !important;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}
/*end Background video*/
.display-3, .lead{
  color:white !important;
}
.boxalign {
  margin: auto;
  width: 50%;
  border-left: 1px solid grey;
  padding: 10px;
}
.checkbox-custom {
  position: relative;
}

.checkbox-custom input[type=checkbox] {
  display: none;
}

.checkbox-custom input[type=checkbox]~b {
  cursor: pointer;
  outline: 0;
  position: relative;
  display: inline-block;
  margin: 4px 1px 0;
  background-color: #ffffff;
  border: 2px solid #ad823a;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  line-height: 1;
  text-align: center;
  font-size: 20px;
  color: #ad823a;
}

.checkbox-custom input[type=checkbox]:checked~b:after {
  content: '\2713';
}
